<section class="si-header-component">
    <div class="row align-items-center">
        <div class="col-lg-10">
            <ul class="si-tab" style="height:45px">
                <li *ngFor="let item of tabs;index as idx" (click)="changeTab(item, idx)">
                    <span>
                        <a class="nav-link text-uppercase pb-2" [class.active]="activeTab == idx">{{item.dashboardName}}</a>
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-lg-2">
            <div class="text-right configure">
                <span class="athma-pointer" style="font-size: 14px" (click)="openSettingPopup()"> Configure </span>
            </div>
        </div>
    </div>
</section>