<article class="login-reset-form ">
  <section class="modal-header">
    <h3 class="modal-title">Reset Password</h3>
  </section>
  <form class="form" role="form" (ngSubmit)="requestResetPassword()"
       [formGroup]="resetPwdForm">
    <div class="form-group newPwd p-2 m-4">
      <label class="label float-left" for="newPwd" jhiTranslate="login.form.newPwd">New
        Password</label>
      <div class="input-group flex-nowrap">
        <input [type]="newPwdText ? 'text': 'password'" class="athma-form-control input-big"
          name="newPassword" id="newPwd" formControlName="newPassword" autocomplete="off">
        <div class="input-group-append athma-pointer" (click)="newPwdText = !newPwdText">
          <span class="input-group-text bg-white border-left-0 visibilty-label py-0"
            [jhiTranslate]="newPwdText ? 'login.form.visibiltyOn': 'login.form.visibiltyOff'">
            visibility_off
          </span>
        </div>
      </div>
      <ng-container *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
        <div *ngIf="newPassword.errors?.required" class="text-danger text-left"
          jhiTranslate="login.form.pwdRequired">
          New password is required.
        </div>
        <div *ngIf="newPassword.errors?.minlength" class="text-danger text-left"
          jhiTranslate="login.form.pwdMinlength">
          Minimum 6 characters long.
        </div>
      </ng-container>
    </div>
    <div class="modal-footer">
      <button class="athma-btn athma-btn-secondary" type="button" (click)="cancel()">Cancel</button>
      <button class="athma-btn athma-btn-primary" type="submit" [disabled]="resetPwdForm.disabled">Reset</button>
    </div>
  </form>
</article>