<div class="container-fluid"x>
    <div class="row">
        <div class="col-md-12 tbl-div-hg-30 p-0 pl-1">
            <table class="table athma-table">
                <thead>
                    <tr>
                        <th width="50%">
                            <span jhiTranslate="arthaApp.variable-payout.rules.type">Type</span>
                        </th>
                        <th width="50%">

                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-12 p-0 tbl-div-hg-51 pl-1" style="background:#e5e5e5;" *ngIf="!viewMode">
            <table class="table athma-table">
                <tr class="athma-pointer">
                    <td width="50%" class="pr-0">
                        <div class="athma-form-group athma-flexible">
                            <div class="form-group">
                                <div class="athma-search-typeahead-container m-0 admission-policy-details-container">
                                    <div class="athma-search-typeahead-border result-table-format">
                                        <input  type="text" 
                                                id="unitInput" 
                                                name="unitData" 
                                                placeholder="Search by Unit Code or Name" 
                                                class="athma-form-control athma-flexible padding-left-30"
                                                [ngbTypeahead]="unitSearchTypeahead" 
                                                [inputFormatter]="inputFormatUnitTypeheadData" 
                                                [resultTemplate]="unitSearchTemplate"
                                                (selectItem)="selectedUnit($event)"
                                                [ngModel]="unitSearch"
                                                required
                                            />
                                        <span *ngIf="!unitSearching" class="fa fa-search athma-typehead-search-left" style="top:8px !important;"></span>
                                        <span *ngIf="unitSearching" class="fa fa-spinner fa-pulse fa-fw athma-typehead-search-left" style="top:8px !important;"></span>
                                    </div>
                                </div>
                                <ng-template class="item-list" #unitSearchTemplate let-r="result" let-t="term">
                                    <li>
                                        <div class="d-flex align-items-center pl-2">
                                            <span> {{ r?.code ? r?.code : '-' }}
                                                <span class="pr-1" *ngIf="r?.name">
                                                    <b class="text-gray">|</b>
                                                </span>
                                                {{r?.name }}
                                            </span>
                                        </div>
                                    </li>
                                </ng-template>
                            </div>
                        </div>
                    </td>
                    <td width="50%">

                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="noRecordFound && (!viewMode)" class="d-flex justify-content-center align-items-center no-record-found">
            <i style="font-size:32px" class="icon-audit_audit" aria-hidden="true"></i>
            <span style="font-size:18px">Add Unit</span>
        </div>
        <div *ngIf="noRecordFound && viewMode" class="d-flex justify-content-center align-items-center no-record-found">
            <i style="font-size:32px" class="icon-audit_audit" aria-hidden="true"></i>
            <span style="font-size:18px">No Unit Available</span>
        </div>
        <div class="row" style="background:#fff;">
            <div class="col-sm-12 fixed-header-table">
                <div class="si-detail-table" *ngIf="!noRecordFound">
                    <div class="infinite-scroll-table position-relative ps" style="height:384px;" [perfectScrollbar]="config">
                        <table class="table athma-table fixed-header-table-body athma-table-layout-fixed">
                            <tbody class="md-table">
                                <tr class="athma-pointer" *ngFor="let unitList of templateOrganizations; let i = index;" class="athma-pointer on-hover">
                                    <td width="96%" class="pr-0 pl-3">
                                        {{unitList?.code}} | {{unitList?.name}}
                                    </td>
                                    <td width="4%" class="pr-0" style="padding-left: 14px;">
                                        <button class="athma-icon-button add-icon m-0" (click)="removeUnit(i)"  *ngIf="!viewMode">
                                            <span class="icon-cross small-btn"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>