// .athma-stock-tabs-header{
// }
.artha-detail-tab-header {
  height: 38px;
  padding: 6px 14px 0px 16px;
  border-bottom: solid 0.25px #cacad3;

  // border-bottom-width: 1px;
  // border-bottom-style: solid red;
  .athma-btn {
    .fa,
    [class^='icon-'],
    [class*=' icon-'] {
      font-size: pixelToRem($default-fs);
    }
  }
  .athma-list-header {
    .athma-list-header-btn-group {
      .athma-btn {
        .fa,
        [class^='icon-'],
        [class*=' icon-'] {
          font-size: pixelToRem($default-fs);
        }
      }
      .athma-icon-button {
        .fa,
        [class^='icon-'],
        [class*=' icon-'] {
          font-size: 14px;
        }
      }
      .athma-btn:first-child {
        margin-left: 0px;
      }
    }
    .search-btn {
      button {
        margin: 0px;
        border-left: 0px !important;
        border: 0px;
        font-weight: 400;
        color: #1ab394;
        background: #ffffff;
        &:hover {
          color: #1ab394;
          background: #ffffff;
        }
        &:active {
          color: #1ab394;
          background: #ffffff;
        }
      }
    }
  }
  .si-header-component {
    // ul.si-tab li a {
    //     display: block;
    //     padding: 16px 0px;
    // }
    .receipt-tabs {
      margin-bottom: 12px;
      display: inline-flex;
      margin-right: 16px;
    }
    .si-tab,
    .preview-tab {
      padding: 0px;
      margin: 0px;
      list-style: none;
      li {
        font-weight: $fw-semi-bold;
        display: inline-block;
        margin-right: 24px;
        a {
          cursor: pointer;
          line-height: 25px;
          &.active {
            border-bottom-width: 4px;
            border-bottom-style: solid;
            border-radius: 10px 10px 0px 0px;
            padding-bottom: 12px;
          }
          &:hover {
            border-bottom-width: 0px;
            border-bottom-style: solid;
            border-radius: 10px 10px 0px 0px;
            padding-bottom: 12px;
            .athma-badges {
              background-color: blue;
            }
          }
        }
      }
    }
    .list-headers-icon-sets {
      .athma-icon-button {
        font-size: 18px;
      }
    }
  }
}

/*----------------------------------------------------------------
  [ Header Search ]
  ---------------------------------------------------------------- */

.list-tab-header-search {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  max-width: 480px;
  height: 25px;
  .input-group-addon {
    font-size: pixelToRem($default-fs);
    height: 23px;
    &:first-child {
      padding-right: 0px;
      padding-left: 8px;
    }
  }
}

// preview header using in tariff service master

.preview-tab {
  padding: 0px;
  margin: 0px;
  height: 38px;
  overflow: hidden;
  margin-bottom: 0;
  list-style: none;
  li {
    font-weight: $fw-semi-bold;
    display: inline-block;
    margin-right: 24px;
    a {
      cursor: pointer;
      line-height: 25px;
      &.active {
        border-bottom-width: 4px;
        border-bottom-style: solid;
        padding-bottom: 5px;
        border-bottom-color: #0078d7;
        color: #0078d7;
      }
      &:hover {
        border-bottom-width: 0px;
        border-bottom-style: solid;
        padding-bottom: 12px;
        border-bottom-color: #0078d7;
        color: #0078d7 !important;
        .athma-badges {
          background-color: #0078d7;
        }
      }
    }
  }
}

.athma-typehead-create-btn {
  position: absolute;
  right: -33px;
  top: 0;
  padding: 4px 10px;
  height: 28px;
  background: transparent;
  border: 1px solid #ccc;
  font-size: 15px;
  border-left: 0;
}

.athma-form-control,
.multiselect-dropdown .btn {
  display: block;
  width: 100%;
  min-width: $athma-finput-min-width;
  max-width: $athma-finput-max-width;
  // height: 23px;
  padding: $athma-finput-padding;
  margin: $athma-finput-margin;
  border-width: $athma-finput-border-width;
  border-style: $athma-finput-border-style;
  @include border-radius($athma-finput-border-radius);
  font-family: $ff-default;
  font-size: $default-fs;
  line-height: $default-lh;
  background-image: none; // Reset unusual default style;
  touch-action: manipulation;
  @include transition(border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s);
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    opacity: 1;
    pointer-events: none;
    cursor: default;
    @include box-shadow(none);
  }
  &:focus,
  &:active,
  &:visited {
    outline: none !important;
    outline-style: none;
  }
  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0;
  }
  // different widths
  &.athma-form-control-sm {
    width: 40px !important;
  }
  &.athma-form-control-md {
    width: 80px !important;
  }
  &.athma-form-control-lg {
    width: 180px !important;
  }
  &.athma-form-control-xl {
    width: 480px !important;
  }
  &.athma-form-control-height-sm {
    height: $athma-finput-s-height;
    padding: $athma-finput-s-padding;
  }
  &.expand-on-focus {
    // -webkit-transition: width .5s;
    // -moz-transition: width .5s;
    // -o-transition: width .5s;
    // transition: width .5s;
    &:focus {
      width: 280px;
    }
  }

  &.disabled {
    background-color: #f0f0f6;
    color: #cacad3 !important;
  }
}

.list-header-tab {
  margin-right: 2px;
  padding-left: 14px;
}

.patient-header-container .version-list-tooltip .tooltip-inner {
  height: 100px;
  max-height: 300px;
  overflow: hidden;
  width: 100px;
  overflow-y: auto;
}

.athma-search-typeahead-container {
  .departmentSearchStyle {
    margin-top: -22px; 
    margin-left: 445px;  
    height: 16px;
    width: 16px;
    border-left: 1px solid #fff;
  }
}

.patient-list-box .employeeInfoStyle {
  border-top: 0px;
  width:90px
}
