<jhi-alert></jhi-alert>
<div class="athma-vertical-scroll">
    <jhi-athma-page-header>
        <div>
            <h2 class="margin-0 padding-10" id="myGroupLabel" jhiTranslate="arthaApp.group.detail.title">Group</h2>
        </div>
    </jhi-athma-page-header>

    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" class="athma-form white">
        <dl class="row form-dl four-column-form mb-0 pb-0 m-0">

            <dd>
                <div class="athma-form-group">
                    <label>
                    <span jhiTranslate="arthaApp.group.code">Code</span>
                </label>
                    <div class="form-group">
                        <input type="text" class="athma-form-control" name="code" id="field_code" [(ngModel)]="group.code" required />
                        <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        </div>
                    </div>
                </div>
            </dd>

            <dd>
                <div class="athma-form-group">
                    <label>
                    <span jhiTranslate="arthaApp.group.name">Name</span>
                </label>
                    <div class="form-group">
                        <input type="text" class="athma-form-control" name="name" id="field_name" [(ngModel)]="group.name" required />
                        <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                        </div>
                    </div>
                </div>
            </dd>

            <dd>
                <div class="athma-form-group">
                    <label>
                    <span jhiTranslate="global.common.status">Active</span>
                </label>
                    <div class="form-group">
                        <jhi-athma-switch class="athma-form-control pl-0 pt-0" name="active" [(ngModel)]="group.active"></jhi-athma-switch>
                    </div>
                </div>
            </dd>

            <dd>
                <div class="athma-form-group">
                    <label>
                    <span jhiTranslate="arthaApp.group.actual">Actual</span>
                </label>
                    <div class="form-group">
                        <jhi-athma-switch class="athma-form-control pl-0 pt-0" name="actual" [(ngModel)]="group.actual"></jhi-athma-switch>
                    </div>
                    <div [hidden]="!(editForm.controls.actual?.dirty && editForm.controls.actual?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.actual?.errors?.required" jhiTranslate="entity.validation.required">
                       This field is required.
                    </small>
                    </div>
                </div>
            </dd>

            <dd>
                <div class="athma-form-group">
                    <label>
                    <span jhiTranslate="arthaApp.group.type">Type</span>
                </label>
                    <div class="form-group">
                        <select class="athma-form-control" id="field_type" name="type" [(ngModel)]="group.type">
                <option [ngValue]="null" jhiTranslate="global.common.select">Select</option>
                <option [ngValue]="GroupTypeOption.id === group.type?.id ? group.type : GroupTypeOption" *ngFor="let GroupTypeOption of grouptypes; trackBy: trackGroupTypeById">{{GroupTypeOption.display}}</option>
            </select>
                    </div>
                </div>
            </dd>

            <dd>
                <div class="athma-form-group">
                    <label>
                    <span jhiTranslate="arthaApp.group.context">Context</span>
                </label>
                    <div class="form-group">
                        <select class="athma-form-control" id="field_context" name="context" [(ngModel)]="group.context" (change)="contextChange($event)">
                <option [ngValue]="null" jhiTranslate="global.common.select">Select</option>
                <option [ngValue]="ContextOption" *ngFor="let ContextOption of contextList;">{{"arthaApp.group."+ContextOption | translate}}</option> <!--{{"arthaApp.group."+ContextOption | translate}}-->
            </select>
                    </div>
                </div>
            </dd>

            <dd>
                <div class="athma-form-group">
                    <label>
                    <span jhiTranslate="arthaApp.group.partOf">Part Of</span>
                </label>
                    <div class="form-group">
                        <select class="athma-form-control" id="field_partOf" name="partOf" [(ngModel)]="group.partOf">
                <option [ngValue]="null" jhiTranslate="global.common.select">Select</option>
                <option [ngValue]="OrganizationOption.id === group.partOf?.id ? group.partOf : OrganizationOption" *ngFor="let OrganizationOption of organizations; trackBy: trackOrganizationById">{{OrganizationOption.name}}</option>
            </select>
                    </div>
                </div>
            </dd>
            <dd>
            <div class="athma-form-group">
                <label>
                    <span jhiTranslate="arthaApp.group.parent">parent</span>
                </label>
                <div class="form-group">
                    <select class="athma-form-control"  name="parent" [(ngModel)]="group.parent">
                        <option [ngValue]="null" jhiTranslate="global.common.select">Select</option>
                        <option [ngValue]="(group.parent?.id === GroupOption.id) ? group.parent : GroupOption" *ngFor="let GroupOption of groups; trackBy: trackGroupById">
                            {{GroupOption.name}}
                        </option>
                    </select>
                </div>
            </div>
            </dd>
        </dl>

        <div class="card rounded-0 border-right-0 border-left-0 m-0">
            <div class="card-header border-bottom-0">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="title mb-0"><span jhiTranslate="arthaApp.group.members">Members</span></h3>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <div class="container-fluid">
                    <br />
                    <div class="card">
                        <div class="card-header athma-panel-add-header">
                            <h6 *ngIf="groupMember" class="padding-10"><span jhiTranslate="arthaApp.group.add-member">Add Member</span></h6>
                            <div *ngIf="!groupMember" class="padding-6">
                                <button type="button" class="athma-btn athma-btn-secondary" (click)="createGroupMember()">
                            <span jhiTranslate="arthaApp.group.add-member">Add Member</span>
                        </button>
                            </div>
                        </div>
                        <div class="card-block card-body" *ngIf="groupMember">
                            <br />
                            <dl class="row form-dl four-column-form mb-0 pb-0">
                                <dd>
                                    <div class="athma-form-group">
                                        <label>
                                    <span jhiTranslate="arthaApp.group.code">Code</span>
                                </label>
                                        <div class="form-group">
                                            <input type="text" class="athma-form-control" name="memberCode" [(ngModel)]="groupMember.member.code" required/>
                                        </div>
                                    </div>
                                </dd>

                                <dd>
                                    <div class="athma-form-group">
                                        <label>
                                    <span jhiTranslate="arthaApp.group.name">Name</span>
                                </label>
                                        <div class="form-group">
                                            <input type="text" class="athma-form-control" name="memberName" [(ngModel)]="groupMember.member.name" required/>
                                        </div>
                                    </div>
                                </dd>

                                <dd>
                                    <div class="athma-form-group">
                                        <label>
                                    <span jhiTranslate="global.common.status">Active</span>
                                </label>
                                        <div class="form-group">
                                            <jhi-athma-switch class="athma-form-control pl-0 pt-0" name="inactive" [(ngModel)]="groupMember.inactive"></jhi-athma-switch>
                                        </div>
                                    </div>
                                </dd>

                                <dd>
                                    <label>
                                <span></span>
                            </label>
                                    <button type="button" class="athma-btn athma-btn-auxillary mr-2 pull-right" (click)="clearGroupMember()">
                                <span jhiTranslate="entity.action.cancel">Cancel</span>
                            </button>
                                    <button type="button" [disabled]="editForm.form.invalid" class="athma-btn athma-btn-primary pull-right mr-0" (click)="addGroupMember()">
                                <span jhiTranslate="entity.action.add">Add</span>
                            </button>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="container-fluid table-responsive">
                    <table class="table table-striped athma-table">
                        <thead>
                            <tr>
                                <th><span jhiTranslate="arthaApp.group.code">Code</span></th>
                                <th><span jhiTranslate="arthaApp.group.name">Name</span></th>
                                <th><span jhiTranslate="global.common.inactive">Inactive</span></th>
                                <th><span jhiTranslate="global.common.actions">Actions</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let groupMember of group.members">
                                <td>{{groupMember?.member.code}}</td>
                                <td>{{groupMember?.member.name}}</td>
                                <td>{{groupMember?.inactive ? 'Yes' : 'No'}}</td>
                                <td (click)="removeGroupMember(groupMember.member.code)"><span class="icon-cross" aria-hidden="true"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row m-0">
            <div class="col report-button-container">
                <button type="button" class="athma-btn athma-btn-auxillary mr-2 pull-right" (click)="clear()">
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
                <button type="submit" [disabled]="editForm.form.invalid || (!editForm.form.dirty && !itemRemoved) || isSaving" class="athma-btn athma-btn-primary pull-right mr-0"> <!--*jhiHasAnyAuthority="['100117101']"-->
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
            </div>
        </div>
    </form>
</div>
<jhi-header-breadcrumb></jhi-header-breadcrumb>
