    <section class="modal-header">
        <h3 class="modal-title">About</h3>
        <i class="icon-cross athma-pointer" (click)="no()"></i>
    </section>
    <div class="modal-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Eius dignissimos saepe magni esse in doloribus ut distinctio assumenda nostrum. 
            Tenetur voluptatem, beatae distinctio officia earum reprehenderit quia eaque repellendus culpa.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis accusamus 
            assumenda laboriosam dolores reprehenderit 
            veniam autem ut quae voluptatum ipsam magni est doloribus 
            blanditiis delectus dolor, explicabo, harum, ratione voluptas!
        </p>
        <br>
    </div>
    <div class="modal-footer">
        <button class="athma-btn athma-btn-primary" (click)="no()">Close</button>
    </div>