<div class="athma-search-typeahead-container m-0 patient-search">
    <div class="input-group athma-input-addon-control border-0" style="max-width:600px">
        <span *ngIf="showSearchIcon && !departmentSearch" [class.search-icon]="'sm'"
            class="input-group-addon patient-search-icon px-1 py-0" id="list-header-search-input" style="border-right:0px ;background: #ffff;
        color: black; z-index: 1;">
            <span class="icon-search_patient"></span>
        </span>
        <span *ngIf="showSearchIcon && departmentSearch" [class.search-icon]="'sm'"
            class="input-group-addon patient-search-icon px-1 py-0 " id="list-header-search-input" style="border-right:0px ;background: #ffff;
        color: black; z-index: 1;">
            <span class="icon-search"></span>
        </span>

        <input #patientInput type="text" id="patientInput"
            class="athma-form-control rounded-0 mousetrap coustom-search-box" [ngModel]="userName"
            (ngModelChange)="onKeyUpEvent()" placeholder="{{placeHolder}}" [disabled]="disableSearch" maxlength="200"
            name="patientInput" [class.athma-form-control-height-sm]="inputHeight == 'sm'" autocomplete="off" />

        <span  class="departmentSearchStyle" >
            <img *ngIf="departmentSearch" width="18px" height="18px" [src]="addIcon" (click)="addDepartment()" />
        </span>
        <span *ngIf="!showSearchIcon && !patientSearching" class="fa fa-search search-left"
            [style.top]="inputHeight == 'sm' ? '6px' : '8px'"></span>
        <span *ngIf="patientSearching" class="fa fa-spinner fa-pulse fa-fw search-left"
            [style.left]="showSearchIcon ? '40px' : '8px'" [style.top]="inputHeight == 'sm' ? '6px' : '8px'"></span>

        <span *ngIf="clearable && userName" class="icon-cross athma-pointer search-right" (click)="onRemovingSelected()"
            [style.top]="inputHeight == 'sm' ? '6px' : '8px'"></span>


    </div>
</div>
<div class="patient-list-container" *ngIf="searchResultList && searchResultList.length === 0 && showUser"
    (clickOutside)="onPatientListClickOutside()">
    <div style="padding:8px">No Records Found</div>
</div>
<div class="patient-list-container" *ngIf="searchResultList && searchResultList.length > 0 && showUser"
    (clickOutside)="onPatientListClickOutside()">
    <table class="table athma-table presc-table mb-0">
    </table>
    <div role="listbox" class="patient-list-box ps position-relative" style="max-height: 340px"
        [attr.aria-activedescendant]="activeDescendant" [perfectScrollbar]="config">
        <div role="option" class="patient-list-item p-0" [ngClass]="selectedLi === i ? 'selected' : ''"
            id="patient-list-item-{{i}}" *ngFor="let item of searchResultList;let i=index" [tabindex]="1"
            (click)="selectPatient(item)">
            <table class="table athma-dropdown-table small-table-fonts p-table mb-0 p-0">
                <tbody>
                    <tr class="m-100" onclick="return false;">
                        <td class="employeeInfoStyle" *ngIf="!departmentSearch">
                            <span> {{ item.employeeNumber? item.employeeNumber :  item.id }} </span>
                        </td>
                        <td class="employeeInfoStyle" *ngIf="departmentSearch">
                            <span> {{ item.code}} </span>
                        </td>
                        <td style="border-top: 0px;width: 10px; ">
                            <span>|</span>
                        </td>
                        <td style="border-top: 0px;" *ngIf="!departmentSearch">
                            <span>{{ item.displayName ? item.displayName : '-' }}</span>
                        </td>
                        <td style="border-top: 0px;" *ngIf="departmentSearch">
                            <span> {{ item.name ? item.name : '-'}} </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>