<section class="modal-header">
    <h3 class="modal-title">Insert Payout Entry</h3>
</section>
<div class="insert-payout-modal modal-body pt-0 pb-0">
    <div class="row select-payout-row">
        <div class="col-12">
            <div class="athma-radio-container" id="lowp">
                <input id="employee" name="priorityGrp" type="radio" value="Employee" (ngModelChange)="entryTypeChange()" [(ngModel)]="entryType" >
                <label for="employee">Employee</label>
                <div class="athma-radio-button normal"></div>
            </div>
            <div class="athma-radio-container ml-2" id="lowp">
                <input id="department" name="priorityGrp" type="radio" value="Department" (ngModelChange)="entryTypeChange()" [(ngModel)]="entryType" >
                <label for="department">Department</label>
                <div class="athma-radio-button normal"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-4">
            <!-- Search Box For Department -->
            <div class="input-group search-btn list-header-search border-1" *ngIf="entryType === 'Department' ">
                <span class="input-group-addon  border-0" id="list-header-search-input" style="border-right:0px;">
                    <i class="fa fa-search" *ngIf="!this.isDataSearching"></i>
                    <i class="fa fa-spinner fa-spin" *ngIf="this.isDataSearching"></i>
                </span>
                <input  style="width: 91%;"
                        id="inputDebounce"
                        type="text"
                        class="athma-form-control border-0 w-full"
                        placeholder="Search and Add"
                        [(ngModel)]="searchText"
                        [ngbTypeahead]="departmentSearchTypeahead" #input
                        [inputFormatter]="departmentSearchData" 
                        [resultTemplate]="departmentSearchTemplate"
                        (selectItem)="onSelectDepartment($event)"
                    />
                <span *ngIf="searchText" (click)="clearSearch()" class="input-group-addon athma-pointer border-0"
                    aria-describedby="list-header-search-input">
                    <i class="icon-cross"></i>
                </span>
            </div>
            <!-- Search Box -->

            <!-- Search Box For Employee -->
            <div class="input-group search-btn list-header-search border-1" *ngIf="entryType === 'Employee' ">
                <span class="input-group-addon  border-0" id="list-header-search-input" style="border-right:0px;">
                    <i class="fa fa-search" *ngIf="!this.isDataSearching"></i>
                    <i class="fa fa-spinner fa-spin" *ngIf="this.isDataSearching"></i>
                </span>
                <input  style="width: 91%;"
                        id="employeeInputDebounce"
                        type="text"
                        class="athma-form-control border-0 w-full"
                        placeholder="Search and Add"
                        [(ngModel)]="searchText"
                        [ngbTypeahead]="employeeSearchTypeahead" #Empinput
                        [inputFormatter]="employeeSearchData" 
                        [resultTemplate]="employeeSearchTemplate"
                        (selectItem)="onSelectEmployee($event)"
                    />
                <span *ngIf="searchText" (click)="clearSearch()" class="input-group-addon athma-pointer border-0"
                    aria-describedby="list-header-search-input">
                    <i class="icon-cross"></i>
                </span>
            </div>
            <!-- Search Box -->
            <div class="text-danger mt-2" *ngIf="showError">
                {{errorMessage}}
            </div>
        </div>
    </div>
    <ng-template class="item-list" #departmentSearchTemplate let-r="result" let-t="term">
        <li>
            <div class="d-flex align-items-center pl-2">
                    <!-- <span> {{ r?.code ? r?.code : '-' }}
                        <span class="pr-1" *ngIf="r?.name">
                            <b class="text-gray">|</b>
                        </span> 
                        {{r?.name }}
                    </span> -->
                    <div  style="width: 70px;text-align: right;">
                        {{ r?.code ? r?.code : '-' }}
                    </div>
                    <div style="width: 10px; margin-left: 5px;" *ngIf="r?.name">
                        <b class="text-gray">|</b>
                    </div>
                    <div>
                        {{r?.name }}
                    </div>
            </div>
        </li>
    </ng-template>

    <ng-template class="item-list" #employeeSearchTemplate let-r="result" let-t="term">
        <li>
            <div class="d-flex  pl-2" >
                    <!-- <span > {{ r?.employeeNumber ? r?.employeeNumber : '-' }}
                        <span class="pr-1" *ngIf="r?.displayName">
                            <b class="text-gray">|</b>
                        </span> 
                        {{r?.displayName }}
                    </span> -->
                    <div style="width: 50px;text-align: right;">
                        {{ r?.employeeNumber ? r?.employeeNumber : '-' }}
                    </div>
                    <div style="width: 10px; margin-left: 5px;" *ngIf="r?.displayName">
                        <b class="text-gray">|</b>
                    </div>
                    <div>
                        {{r?.displayName }}
                    </div>
            </div>
        </li>
    </ng-template>
</div>
<div class="modal-footer">
    <button class="athma-btn athma-btn-secondary" jhiTranslate="arthaApp.payoutAdjustment.button.close" (click)="close()">Close</button>
    <button class="athma-btn athma-btn-primary" jhiTranslate="arthaApp.payoutAdjustment.button.proceed" (click)="process()">Proceed</button>
</div>

