<div class="department-payout" >
    <div class="col-md-12 p-0 tbl-div-hg-47 ">
        <table class="table athma-table mb-0">
            <thead>
                <tr>
                    <th width="16%">
                        <span jhiTranslate="arthaApp.variable-payout.rules.type">Type</span>
                    </th>
                    <th width="80%">
                        <span jhiTranslate="arthaApp.variable-payout.rules.value">Value</span>
                    </th>
                    <th width="4%">
                    </th>
                </tr>
            </thead>
            <tbody class="md-table">
                <tr *ngFor="let serviceExp of serviceItemExceptionList; let i=index;">
                    <td class="text-left pl-3" style="width: 16%">
                        <span>{{displayExcptParams(serviceExp)}}</span>
                    </td>
                    <td class="text-left pl-3" style="width: 80%">

                        <span>{{serviceExp?.value?.name}}</span>
                    </td>

                    <td class="pr-2 text-left" style="width: 4%">
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="noRecordFound" class="d-flex justify-content-center align-items-center no-record-found">
        <i style="font-size:32px" class="icon-audit_audit" aria-hidden="true"></i>
        <span style="font-size:18px">Exceptions</span>
    </div>
</div>