<ng-template #headerView>
    <a class="navbar-brand logo float-left">
        <!-- <span jhiTranslate="global.menu.modules-name.{{module}}" class="navbar-title" *ngIf="module!='dashboard'"></span>
        <span class="navbar-arrow" *ngIf="module!='dashboard'"> 
            <i class="icon-next_chevron" aria-hidden="true"></i>
        </span>
        <span class="navbar-version" jhiTranslate="global.menu.entities.{{menu}}"></span> -->
        <span class="navbar-version" style="font-weight: 700;font-size: 0.996rem;" jhiTranslate="global.menu.entities.app-title"></span>
    </a>
</ng-template>